@import "vars";
@import "headshot";
@import "blurb";
@import "about_mobile";

$intro-text-height: 40vh;

.about {
  background: $black;
  
  min-height: 765px;

  overflow-y: hidden;

  color: $white;

  padding: 10% 5%;
  padding-top: $nav-height;

  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  position: relative;

  .about-intro, .about-blurbs-container {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 600px;
  }

  .about-intro {
    max-width: 1000px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 1%;
    padding-right: 2%;

    z-index: 3;

    .intro-text {
      color: $gray;
      flex-basis: 50%;
      flex-grow: 1;
      width: 50%;
      min-width: 275px;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-right: 3%;

      text-align: center;

      & h2 {
        color: $light-gray;
      }

    }
  }

  .about-blurbs-container {
    width: 100%;
    overflow: visible;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;

    z-index: 2;
    margin-top: 1%;

    .about-blurbs-gradient {
      z-index: -2;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 200%;  // * this is for blurb animation to not "swipe"
      width: 99.99%;

      border-radius: 10px;

      background: radial-gradient(at top left, $orange 0%, $yellow-orange);
      // background: radial-gradient(at top left, $orange 0%, $light-purple);
    }
  }

  .about-footer-container {
    flex-basis: 100%;

    flex-grow: 2;
    z-index: 2;

    margin: 5% 0%;

    overflow: visible;

    position: relative;
    height: 10%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .about-footer-flex-container {
      width: 350.86px;
      position: relative;

      height: 20px;

      & .about-footer {
        position: absolute;
        top: 0px;
        left: 0px;
  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        transition: margin-top 2s ease-out, opacity 3s cubic-bezier(1, -0.18, 1, 1);
    
        & h2 {
          color: $white;
        }
  
        & .scroll-btn-container {
          margin-bottom: -25%;

          & a {
            font-size: $font-size-large;
            color: $white;
          
            margin-bottom: 0px;
            transition: margin-bottom .5s ease-in;
          
            &:hover {
              color: $orange;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 730px) {
  .about {
    & .about-intro {
      flex-direction: column;
    }
    
    & .about-blurbs-container {
      flex-direction: column;
      align-items: center;
      width: 95%;
      min-width: 0px;

      & .about-blurbs-gradient {
        height: 100%;
      }
  
    }
  }
}

@media screen and (max-width: 500px) {
  .about .about-footer-container {
    margin-bottom: 25%;
  }
}