@import "vars";

$blurb-height: 200px;
$blurb-transition-speed: 1s;
$opacity-transition-speed: 2s;
$blurb-margin: 9px;

@function neg($val) {
  @return $val * -1
}

.blurb-container {
  min-height: $blurb-height;
  overflow: visible;
  
  flex-basis: 33.33%;
  flex-grow: 1;
  min-width: 202px;
  position: relative;

  &:nth-child(2), &:nth-child(3) {
    margin-right: $blurb-margin;
  }

  .blurb {
    transition: top $blurb-transition-speed ease-out;

    position: absolute;
    // height: 100%;
    width: 100%;
  
    .blurb-contents-container {
      position: relative;
      width: 100%;

      & .blurb-blocker {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        min-height: $blurb-height;
        width: 100%;
        background-color: $black;
        transition: opacity $opacity-transition-speed ease-in, z-index $opacity-transition-speed ease-in;
      }
    
      & .blurb-text {
        text-align: left;
        padding: 10%;
        font-size: $font-size-med-small;
        color: $black;
    
        & a {
          font-size: $font-size-med-small;
          color: $dark-teal;
          font-weight: 300;
    
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  
    &:after { // to create rounded blurbs
      z-index: -1;
      content: "";
      height: 100%;
      width: 100%;
      background-color: transparent;
  
      position: absolute;
      top: 0px;
      left: 0px;
  
      border-radius: $border-radius;
      box-shadow:
        // rounded corners
        neg($blurb-margin) $blurb-margin 0 0 $black,
        neg($blurb-margin) neg($blurb-margin) 0 0 $black,
        $blurb-margin $blurb-margin 0 0 $black,
        $blurb-margin neg($blurb-margin) 0 0 $black,
  
        // vertical blockers for upward animation
        0px 150px 0 0 $black,
        0px -150px 0 0 $black,
        0px 300px 0 0 $black,
        0px -300px 0 0 $black,
  
        // additional shadows for corner scraps
        neg($blurb-margin) 150px 0 0 $black,
        neg($blurb-margin) -150px 0 0 $black,
        $blurb-margin 150px 0 0 $black,
        $blurb-margin -150px 0 0 $black,
  
        // if needed, add more w 300px y offset?
        neg($blurb-margin) 300px 0 0 $black,
        neg($blurb-margin) -300px 0 0 $black,
        $blurb-margin 300px 0 0 $black,
        $blurb-margin -300px 0 0 $black,

        neg($blurb-margin) 450px 0 0 $black,
        neg($blurb-margin) -450px 0 0 $black,
        $blurb-margin 450px 0 0 $black,
        $blurb-margin -450px 0 0 $black,
      ;
    }
  }
}

@media screen and (max-width: 730px) {
  .blurb-container {
    width: 100%;
    flex-basis: auto;
    margin: 4.5px 0% !important;

    & .blurb {
      top: 0px !important;
    }

    & .blurb:after {
      box-shadow:
        // rounded corners
        neg($blurb-margin) $blurb-margin 0 0 $black,
        neg($blurb-margin) neg($blurb-margin) 0 0 $black,
        $blurb-margin $blurb-margin 0 0 $black,
        $blurb-margin neg($blurb-margin) 0 0 $black,
  
        // vertical blockers for upward animation
        // 0px 150px 0 0 $black,
        // 0px -150px 0 0 $black,
        // 0px 300px 0 0 $black,
        // 0px -300px 0 0 $black,
  
        // // additional shadows for corner scraps
        // neg($blurb-margin) 150px 0 0 $black,
        // neg($blurb-margin) -150px 0 0 $black,
        // $blurb-margin 150px 0 0 $black,
        // $blurb-margin -150px 0 0 $black,
  
        // // if needed, add more w 300px y offset?
        // neg($blurb-margin) 300px 0 0 $black,
        // neg($blurb-margin) -300px 0 0 $black,
        // $blurb-margin 300px 0 0 $black,
        // $blurb-margin -300px 0 0 $black,
  
        // neg($blurb-margin) 450px 0 0 $black,
        // neg($blurb-margin) -450px 0 0 $black,
        // $blurb-margin 450px 0 0 $black,
        // $blurb-margin -450px 0 0 $black,
      ;
    }
  }
}