@import "vars";

.scroll-btn-container {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bouncer {
  font-size: $font-size-large;
  color: $white;

  margin-bottom: 0px;
  transition: margin-bottom .5s ease-in;

  &:hover {
    color: $orange;
  }
}

.bounced {
  margin-bottom: 30px !important;
  transition: margin-bottom 1s ease-out !important;
}