@import "vars";

.scroll-btn-container {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    font-size: $font-size-large;
    color: $white;
    text-shadow: 1px 1px 0px $teal;
    margin-bottom: 0px;
    transition: margin-bottom .5s ease-in;

    &:hover {
      color: $orange;
    }
  }
}

.bounced {
  margin-bottom: 30px !important;
  // font-size: $font-size-large !important;
  transition: margin-bottom 1s ease-out !important;
}