@import "vars";

.footer {
  padding-top: 5%;
  width: 2%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;

  position: fixed;
  bottom: 2%;
  left: 2%;

  z-index: 1000;

  & p {
    color: $orange;
    font-size: $font-size-smaller;
    margin-top: 7%;
  }

  & .intro-links {
    display: flex;
    flex-direction: column;

    .icon-link {
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0px;

      .icon {
        height: 20%;
        max-height: 30px;
        filter: invert(48%) sepia(85%) saturate(1832%) hue-rotate(332deg) brightness(109%) contrast(90%);  // orange

        &:hover {
          filter: invert(87%) sepia(66%) saturate(477%) hue-rotate(75deg) brightness(100%) contrast(103%);  // teal
        }
      }
    }
  }
}