@import "vars";

.logo-container {
  position: fixed;
  top: 0px;
  left: 0px;

  height: $nav-height;
  width: $nav-height;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: $black;
    border: 1px solid $med-gray;
    border-radius: $border-radius;
  
    height: 50px;
    width: 50px;
    padding: 30%;

    &:hover {
      background: radial-gradient(at top left, $black 50%, $darker-orange);
      cursor: pointer;
    }
  
    h1 {
      font-size: $font-size-medium;
    }
  }
}