@import "vars";

nav {
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: $nav-height;
  width: 100%;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.nav-link a {
  font-size: $font-size-small;
  text-decoration: none;
  
  &:hover {
    cursor: pointer;
    color: $white;
  }
}