@import "vars";

.projects {
  background-color: $black;
  // height: 100vh;
  
  padding-top: $nav-height;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;

  z-index: 1001;

  .grid-tile {
    flex-basis: 33.33%;
    flex-grow: 1;
    min-width: 300px;
  }

  .blank-tile {
    background-color: $med-dark-gray;
    color: $teal;
    font-family: $font-fam-code;
    font-size: $font-size-small;
    overflow: scroll;
    position: relative;

    .terminal-text {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      padding: 5%;

      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: flex-start;
      overflow: scroll;

      .prev-commands {
        display: flex;
        flex-direction: column;

        & .cmd {
          display: flex;
          flex-direction: row;
        }
      }

      .cmdPrompt {
        margin-right: 5px;
      }

      & form {
        display: flex;
        flex-direction: row;

        & input {
          // width: 0px;
          padding: 0;
          font-family: $font-fam-code;
          font-size: $font-size-small;
          color: $teal;
          border: none;
          box-shadow: none;
          outline: none;
          background-color: $med-dark-gray;
          word-wrap: break-word;
          word-break: break-all;
  
          &:focus {
            // border: none;
            box-shadow: none;
            outline: none;
          }
        }
      }
    }

    padding: 3%;
  }

  .project-tile {
    flex-basis: 33.33%;
    overflow: hidden;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &:hover {
      & img {
        filter: blur(5px);
      }
      & .tile-overlay {
        visibility: visible;
      }
    }


    .project-tile {
      height: 100%;
      width: 100%;
    }

    .tile-overlay {
      visibility: hidden;
      background-color: $translucent-black;

      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      padding: 5%;

      & h2 {
        text-align: center;
      }

      & p {
        font-size: $font-size-med-small;
        // text-align: center;
      }

      & .techs {
        font-family: $font-fam-code;
        font-size: $font-size-smaller;
        color: $med-teal;
      }

      & .tile-links {
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;

        & a {
          display: flex;
          flex-direction: row;
          align-items: center;

          & .icon {
            height: 35px;
          }
        }
      }
    }
  }
}