// $white: #ffffff;
// $off-white: #cccccc;
// $dull-white: #848484;

// $light-blue: #303a6e;
// $med-blue: #202e70;
// $dark-blue: #000C40;

// $yellow: #ffd000;
// $light-yellow: #ffe881;

$font-fam-header: 'Exo', sans-serif;
$font-fam-code: 'Fira Code', monospace;
$font-fam-text: 'Exo', sans-serif;

$font-size-large: 64px;
$font-size-medium: 30px;
$font-size-small: 24px;

$nav-height: 100px;

$dark-gray: #222222;
$med-dark-gray: #302E30;
$gray: #a3a1a1;
$light-gray: #d1d0d0;

$black: #202020;
$white: #FFFFFF;

$darker-orange: #351613;
$dark-orange: #682b25;
$med-orange: #993f37;
$orange: #F26C52;
$teal: #52FFBB;

// :export {
//   navHeight: $nav-height
// }