$font-fam-header: 'Exo', sans-serif;
$font-fam-code: 'Fira Code', monospace;
$font-fam-text: 'Exo', sans-serif;

$font-size-larger: 78px;
$font-size-large: 64px;
$font-size-medium: 30px;
$font-size-small: 24px;
$font-size-med-small: 20px;
$font-size-smaller: 16px;

$nav-height: 100px;
$border-radius: 5px;
$button-border-radius: 40px;

$dark-gray: #222222;
$med-dark-gray: #302E30;
$med-gray: #5e5a5e;
$gray: #a3a1a1;
$med-light-gray: #cfcfcf;
$light-gray: #d1d0d0;

$translucent-black: #202020d7;
$black: #202020;
$white: #FFFFFF;

// $darker-orange: #351613;
// $dark-orange: #4b1f1b;
// $med-orange: #993f37;
// $orange: #F26C52;
// $light-orange: #f3a99b;


$darker-orange: #381326;
$dark-orange: #490929;
$med-orange: #a73970;
$orange: #E4509A;
$light-orange: #d496b5;

$orange-filter: invert(51%) sepia(99%) saturate(2469%) hue-rotate(300deg) brightness(92%) contrast(93%);

// $dark-teal: #164432;
// $med-teal: #3aaf80;
// $teal: #52FFBB;
// $lght-teal: #9afdd6;

$dark-teal: #04383f;
$med-teal: #1c9ca5;
$teal: #2fceda;
$light-teal: #6de9f1;

$teal-filter: invert(81%) sepia(58%) saturate(470%) hue-rotate(109deg) brightness(89%) contrast(90%);

// :export {
//   darkerOrange: $darker-orange;
//   darkTeal: $dark-teal;
// }