// $white: #ffffff;
// $off-white: #cccccc;
// $dull-white: #848484;

// $light-blue: #303a6e;
// $med-blue: #202e70;
// $dark-blue: #000C40;

// $yellow: #ffd000;
// $light-yellow: #ffe881;

$font-fam-header: 900px 'Exo', sans-serif;
$font-fam-code: 'Fira Code', monospace;
$font-fam-text: 100px 'Exo', sans-serif;

$font-size-large: 64px;
$font-size-medium: 30px;
$font-size-small: 24px;

$nav-height: 75px;

$dark-gray: #222222;
$med-dark-gray: #302E30;
$gray: #8F8F8F;

$black: #202020;
$white: #FFFFFF;

$orange: #F26C52;
$dark-orange: #F66658;
$teal: #52FFBB;
