@import "reset";
@import "vars";
@import "logo";
@import "nav";
@import "hero";
@import "bouncer";
@import "about";

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: $font-fam-header;
  font-weight: 900;
  font-size: $font-size-large;
  color: $white;
}

h2 {
  font-family: $font-fam-text;
  font-weight: 900;
  font-size: $font-size-medium;
  color: $white;
}

p, a {
  font-family: $font-fam-text;
  font-weight: 100;
  font-size: $font-size-small;
  color: $light-gray;
}

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: $orange;
  }
}