@import "reset";
@import "vars";
@import "nav";
@import "hero";
@import "about";

h1 {
  font: $font-fam-header;
  font-size: $font-size-large;
  color: $white;
}

h2 {
  font: $font-fam-text;
  font-size: $font-size-medium;
  color: $white;
}

p, a {
  font-size: $font-size-small;
  font: $font-fam-text;
  color: $gray;
}

a {
  text-decoration: none;
  color: $gray;

  &:hover {
    color: $dark-orange;
    cursor: pointer;
  }
}