html {
  box-sizing: border-box;
  font-size: 16px; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

.logo-container {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center; }
  .logo-container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4509A;
    box-shadow: 0px 0px 7px 1px #202020;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    padding: 30%; }
    .logo-container .logo h1 {
      text-shadow: 1px 1px 0px #202020; }
    .logo-container .logo:hover {
      background-color: #46D9C8;
      cursor: pointer; }
    .logo-container .logo h1 {
      font-size: 30px; }

.nav-container {
  position: fixed;
  left: 0px;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1002;
  background-color: #202020; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 3; }

.border-blocker, .nav-link {
  background-color: #202020; }

.nav-links {
  flex-grow: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.border-blocker {
  height: 100%;
  flex-grow: 1; }
  .border-blocker:first-child {
    min-width: 18%; }

.nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 24px;
  text-decoration: none; }
  .nav-link:hover {
    background-color: transparent;
    cursor: pointer;
    color: #FFFFFF; }

.nav-border {
  height: 101px;
  min-height: 101px;
  margin-top: -100px;
  background: linear-gradient(to right, #E4509A 20%, #46D9C8); }

.hero {
  margin-top: -100px;
  height: calc(100vh + 100px);
  width: 100vw;
  position: relative; }
  .hero img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .hero > * {
    z-index: 2; }

.hero::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #F0F2F0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(130deg, #72264c 5%, #202020);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(130deg, #72264c 5%, #202020);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: .7;
  z-index: 1; }

.hero-text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .hero-text h1 {
    text-shadow: 1px 1px 0px #46D9C8;
    text-align: center;
    margin-bottom: 5%; }

.scroll-btn-container {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .scroll-btn-container a {
    font-size: 64px;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px #46D9C8;
    margin-bottom: 0px;
    transition: margin-bottom .5s ease-in; }
    .scroll-btn-container a:hover {
      color: #E4509A; }

.bounced {
  margin-bottom: 30px !important;
  transition: margin-bottom 1s ease-out !important; }

.headshot-container {
  border-radius: 10px;
  flex-basis: 50%;
  flex-grow: 1;
  width: 50%;
  max-height: 400px;
  max-width: 400px;
  position: relative; }
  .headshot-container:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  .headshot-container:hover .intro-links {
    visibility: visible;
    background-color: #202020d7; }
  .headshot-container .headshot {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    max-height: 100%;
    width: 100%; }
  .headshot-container .intro-links {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    padding: 25%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap; }
    .headshot-container .intro-links .icon-link {
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .headshot-container .intro-links .icon-link .icon {
        height: 70%;
        max-height: 150px; }

.about-blurbs {
  display: flex;
  flex-direction: row;
  justify-content: stretch; }
  .about-blurbs .spacer {
    background: #202020;
    flex-basis: 2%; }
  .about-blurbs .blurb-container {
    position: relative;
    transition: margin-top 1s ease-out;
    min-height: 200px;
    height: max-content;
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .about-blurbs .blurb-container .blurb-body {
      min-height: 200px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .about-blurbs .blurb-container .blurb-body .overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        min-height: 200px;
        width: 100%;
        background-color: #202020;
        transition: opacity 1s ease-out, z-index 1s; }
      .about-blurbs .blurb-container .blurb-body p {
        text-align: left;
        padding: 10%;
        font-size: 16px;
        color: #FFFFFF; }
        .about-blurbs .blurb-container .blurb-body p a {
          font-size: 16px;
          color: #FFFFFF;
          font-weight: 300; }
          .about-blurbs .blurb-container .blurb-body p a:hover {
            cursor: pointer;
            text-decoration: underline; }
    .about-blurbs .blurb-container .blocker {
      content: "";
      z-index: -1;
      width: 100%;
      height: 3000px;
      background-color: #202020;
      position: absolute;
      left: 0px; }
      .about-blurbs .blurb-container .blocker:nth-child(1) {
        top: -3000px; }
      .about-blurbs .blurb-container .blocker:nth-child(3) {
        top: 100%; }
    .about-blurbs .blurb-container::after {
      z-index: -1;
      content: "";
      height: 100%;
      width: 100%;
      background-color: transparent;
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 30px;
      box-shadow: -9px 9px 0 0 #202020, -9px -9px 0 0 #202020, 9px 9px 0 0 #202020, 9px -9px 0 0 #202020; }

.about {
  background: #202020;
  /* fallback for old browsers */
  min-height: 765px;
  overflow-y: hidden;
  color: #FFFFFF;
  padding: 0px 60px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  position: relative; }
  .about .about-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 1%;
    z-index: 3; }
    .about .about-intro .intro-text {
      color: #a3a1a1;
      flex-basis: 50%;
      flex-grow: 1;
      width: 50%;
      min-width: 275px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-right: 3%;
      text-align: center; }
      .about .about-intro .intro-text h1 {
        text-shadow: 1px 1px 0px #46D9C8; }
      .about .about-intro .intro-text h2 {
        color: #a3a1a1; }
  .about .about-blurbs-container {
    width: 100%;
    position: relative;
    z-index: 2;
    margin-top: 3%; }
    .about .about-blurbs-container .about-blurbs-gradient {
      z-index: -2;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      background: linear-gradient(160deg, #72264c, #0e6359); }
  .about .about-footer {
    flex-basis: 1%;
    flex-grow: 2;
    z-index: 2;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: margin-top 2s ease-out, opacity 3s cubic-bezier(1, -0.18, 1, 1); }
    .about .about-footer .scroll-btn-container {
      position: initial;
      flex-direction: column-reverse; }
      .about .about-footer .scroll-btn-container .bouncer {
        transition: margin-top .5s ease-out;
        margin-top: 30px; }
      .about .about-footer .scroll-btn-container .bounced {
        margin-top: 0px !important;
        transition: margin-top 1s ease-in !important; }
      .about .about-footer .scroll-btn-container a {
        line-height: .5; }

.projects {
  background-color: #202020;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  z-index: 1001; }
  .projects .grid-tile {
    flex-basis: 33.33%;
    flex-grow: 1;
    min-width: 300px; }
  .projects .blank-tile {
    background-color: #302E30;
    color: #46D9C8;
    font-family: "Fira Code", monospace;
    padding: 3%; }
    .projects .blank-tile .terminal-text {
      display: flex;
      flex-direction: row;
      align-items: center; }
  .projects .project-tile {
    flex-basis: 33.33%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .projects .project-tile:hover img {
      filter: blur(5px); }
    .projects .project-tile:hover .tile-overlay {
      visibility: visible; }
    .projects .project-tile .project-tile {
      height: 100%;
      width: 100%; }
    .projects .project-tile .tile-overlay {
      visibility: hidden;
      background-color: #202020d7;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 5%; }
      .projects .project-tile .tile-overlay h2 {
        text-align: center; }
      .projects .project-tile .tile-overlay p {
        font-size: 20px; }
      .projects .project-tile .tile-overlay .techs {
        font-family: "Fira Code", monospace;
        font-size: 16px;
        color: #30968a; }
      .projects .project-tile .tile-overlay .tile-links {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end; }
        .projects .project-tile .tile-overlay .tile-links a {
          display: flex;
          flex-direction: row;
          align-items: center; }
          .projects .project-tile .tile-overlay .tile-links a .icon {
            height: 35px; }

#blinking-cursor {
  visibility: visible;
  font-weight: 100;
  font-size: 64px;
  color: #46D9C8; }

.blinked-off {
  visibility: hidden !important; }

.footer {
  width: 2%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  bottom: 1%;
  left: 1%;
  z-index: 1000; }
  .footer p {
    color: #E4509A;
    font-size: 16px;
    margin-top: 7%; }
  .footer .intro-links {
    display: flex;
    flex-direction: column; }
    .footer .intro-links .icon-link {
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0px; }
      .footer .intro-links .icon-link .icon {
        height: 20%;
        max-height: 30px; }

.contact {
  height: 100vh;
  min-height: 850px;
  padding: 5%;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: content-box; }
  .contact p, .contact h1 {
    text-align: center; }
  .contact form {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px; }
    .contact form input[type="text"], .contact form input[type="email"], .contact form textarea {
      box-sizing: border-box;
      font-family: "Fira Code", monospace;
      font-size: 20px;
      width: 100%;
      padding: 20px 25px;
      margin: 10px 0px;
      border-radius: 5px;
      border: none;
      outline: none;
      box-shadow: none;
      background-color: #302E30; }
      .contact form input[type="text"]::placeholder, .contact form input[type="email"]::placeholder, .contact form textarea::placeholder {
        color: #d1d0d0; }
      .contact form input[type="text"]:hover, .contact form input[type="email"]:hover, .contact form textarea:hover {
        background-color: #a3a1a1; }
      .contact form input[type="text"]:focus, .contact form input[type="email"]:focus, .contact form textarea:focus {
        background-color: #d1d0d0 !important;
        border: none;
        outline: none;
        box-shadow: none; }
        .contact form input[type="text"]:focus::placeholder, .contact form input[type="email"]:focus::placeholder, .contact form textarea:focus::placeholder {
          visibility: hidden; }
    .contact form button {
      background-color: #E4509A;
      color: #FFFFFF;
      padding: 20px 25px;
      margin-top: 10px;
      border: none;
      box-shadow: none;
      border-radius: 5px; }
      .contact form button h2 {
        text-shadow: 1px 1px 0px #202020; }
      .contact form button:hover {
        cursor: pointer;
        background-color: #46D9C8; }
      .contact form button:disabled {
        background-color: #302E30;
        cursor: default; }
        .contact form button:disabled h2 {
          color: #222222; }

html {
  scroll-behavior: smooth;
  background-color: #202020; }

h1 {
  font-family: "Exo", sans-serif;
  font-weight: 900;
  font-size: 64px;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px #46D9C8; }

h2 {
  font-family: "Exo", sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #FFFFFF; }

p, a {
  font-family: "Exo", sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #d1d0d0; }

a {
  text-decoration: none; }
  a:hover {
    cursor: pointer;
    color: #E4509A; }

#root {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.icon {
  filter: invert(51%) sepia(99%) saturate(2469%) hue-rotate(300deg) brightness(92%) contrast(93%) !important; }
  .icon:hover {
    filter: invert(81%) sepia(58%) saturate(470%) hue-rotate(109deg) brightness(89%) contrast(90%) !important; }

/*# sourceMappingURL=App.css.map */
