@import "reset";
@import "vars";
@import "logo";
@import "nav";
@import "hero";
@import "bouncer";
@import "about";
@import "projects";
@import "blinking_cursor";
@import "contact";

html {
  scroll-behavior: smooth;
  background-color: $black;
}

h1 {
  font-family: $font-fam-header;
  font-weight: 900;
  font-size: $font-size-large;
  color: $white;
  text-shadow: 1px 1px 0px $teal;
}

h2 {
  font-family: $font-fam-text;
  font-weight: 900;
  font-size: $font-size-medium;
  color: $white;
}

p, a {
  font-family: $font-fam-text;
  font-weight: 100;
  font-size: $font-size-small;
  color: $light-gray;
}

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: $orange;
  }
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}